<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tryeverything.dao.InformationTypeDAO">
    <insert id="save" parameterType="com.tryeverything.entity.InformationType">
        <![CDATA[
            insert into t_information_type(class_id,class_information_id) values (#{classId},#{classInformationId})
        ]]>
    </insert>

    <select id="getById" parameterType="java.lang.Integer" resultType="com.tryeverything.entity.InformationType">
      <![CDATA[
        select ct.class_id,ct.class_type,ct.quantity,ct.numberOfPeople from t_class_type,ct,t_information_type it where ct.class_id = it.class_id and it.class_information_id = #{classInformationId}
      ]]>
    </select>

    <delete id="removeById" parameterType="java.lang.Integer">
        <![CDATA[
          delete from t_information_type where class_information_id = #{classInformationId}
        ]]>
    </delete>

</mapper>