<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tryeverything.dao.ScheduleDAO">
    <insert id="save" parameterType="com.tryeverything.entity.Schedule" useGeneratedKeys="true" keyColumn="scheduleId" keyProperty="scheduleId">
        <![CDATA[
          insert into t_schedule(activity_schedule,readiness_time,finish_time,executor,content)
          values (#{activitySchedule},#{readinessTime},#{finishTime},#{executor},#{content})
        ]]>
    </insert>

    <update id="update" parameterType="com.tryeverything.entity.Schedule">
        <![CDATA[
          update t_schedule
        ]]>
        <set>
            <if test="activitySchedule != null and activitySchedule != ''">
                activity_schedule = #{activitySchedule},
            </if>
            <if test="readinessTime != null">
                readiness_time = #{readinessTime},
            </if>
            <if test="finishTime != null">
                finish_time = #{finishTime},
            </if>
            <if test="executor != null and executor != ''">
                executor = #{executor},
            </if>
            <if test="content != null and content != ''">
                content = #{content}
            </if>
        </set>
        where schedule_id = #{scheduleId}
    </update>

    <delete id="removeById" parameterType="java.lang.Integer">
        <![CDATA[
            delete from t_schedule where schedule_id = #{scheduleId}
        ]]>
    </delete>

    <delete id="deleteById" parameterType="java.lang.Integer">
        <![CDATA[
          delete from t_schedule s,t_kindergarten_schedule ks where ks.schedule_id = s.schedule_id and ks.kindergarten_id = #{kindergartenId}
        ]]>
    </delete>

    <select id="listById" parameterType="java.lang.Integer" resultType="com.tryeverything.entity.Schedule">
        <![CDATA[
            select s.schedule_id,s.activity_schedule,s.readiness_time,s.finish_time,s.executor,s.content,ac.schedule_id,ac.kindergarten_id from t_schedule s,t_kindergarten_schedule ac where s.schedule_id=ac.schedule_id and ac.kindergarten_id = #{kindergartenId}
        ]]>
    </select>

</mapper>
